/**
 * @name SettingsModal
 * @description Turns Settings Windows like User-/Channel-/Serversettings and Boost Overview into Modals
 * @author DevilBro
 * @version 1.0.0
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://mwittrien.github.io/
 * @source https://github.com/leew2918/BetterDiscordAddons/edit/master/Themes/SettingsModal/
 */

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css);

:root {
	--settingsmodalbackground: 	transparent;			/* default:	transparent		(lowest bg color of changed windows, change it in case another theme turns them transparent)	*/
	--settingsmodalwidth: 		960px;					/* default:	960px			(width of the settings modal, px/vw)															*/
	--settingsmodalheight: 		80vh;					/* default:	80vh			(height of the settings modal, px/vh)															*/
  --profile-body-background-color:          none !important;
  --profile-role-pill-background-color:     none !important;

  [class*="role-"] [class*="roleCircle-"]:before,
  [class*="actionButton-"][class*="role-"][class*="justifyCenter-"] {
    border-radius: 10px; /* standard discord is 3px */
  }

  [class*="role-"] {
    transform: translate(0);
    border: 0;
  }

  [class*="role-"] [class*="roleRemoveIcon-"] {
    margin: 0;
    left: unset;
    transform: translate(50%,-50%);
  }

  [class*="role-"] [class*="roleRemoveButton-"]{
    position: static;
  }

  [class*="root-"]>[class*="role-"] [class*="roleCircle-"]:before {
    content: '';
    top: 0;left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    background: inherit;
    border: 2px solid transparent;
    opacity: .4;
  }
}

[class^="panels-3wFtMD"]::before {
  content: "";
  width: 47px;
  height: 47px;
  left: 185px;
  margin-top: -47px;
  position: absolute;
  background-image: url('https://cdn.discordapp.com/emojis/1120365974466596955.gif?size=48&name=poi&quality=lossless');
}

.channel-1Shao0[aria-posinset="1"] {
  background-color: var(--background-primary);
  border-radius: 0px;
  border-top-left-radius: 7px!important;
  border-top-right-radius: 7px!important;
  padding-bottom: 0px;
}
.channel-1Shao0[aria-posinset="2"] {
  background-color: var(--background-primary);
  border-radius: 0px;
  padding-bottom: 0px;
}
.channel-1Shao0[aria-posinset="3"] {
  background-color: var(--background-primary);
  border-bottom-left-radius: 7px!important;
  border-bottom-right-radius: 7px!important;
  border-radius: 0px;
  margin-bottom: 7px;
  padding-bottom: 0px;
}
.channel-1Shao0[aria-posinset="4"]{
  border-radius: 7px;
  background-color: var(--background-primary);
  margin-bottom: 0px;
}
.channel-1Shao0[aria-setsize="112"]:not([aria-posinset="4"]):not([aria-posinset="3"]):not([aria-posinset="2"]):not([aria-posinset="1"]){
  background-color: var(--background-primary);
  border-radius: 0px;
}
.channel-1Shao0[aria-setsize="112"][aria-posinset="7"]:not([aria-posinset="4"]):not([aria-posinset="3"]):not([aria-posinset="2"]):not([aria-posinset="1"]) {
  background-color: var(--background-primary);
  border-radius: 0px;
  border-top-left-radius: 7px!important;
  border-top-right-radius: 7px!important;
}
.privateChannelsHeaderContainer-1UWASm {
  padding-top: 13px;
}
.searchBar-3TnChZ {
  background-color: var(--background-secondary);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

#vc-spotify-player {
  padding: 0.85rem 0.5rem !important;
  margin: 7px;
  margin-top: 8px !important;
  border-radius: 7px;
  background-color: var(--background-primary) !important;
}

.usernameSection-3FppkT,
.container-3g15px,
.textarea-_59yqs,
.inputDefault-Ciwd-S,
.userInfoSectionHeader-2mYYun,
.text-sm-normal-AEQz4v,
.content-tXPNDw,
.section-28YDOf {
    text-align: center;
}

.listName-PwbeHL {
    text-align: right;
}

.customStatus-19KW6v,
.eyebrow-1Shfyi {
    display: flex;
}

.eyebrow-1Shfyi,
.memberSinceContainer-2CBD23,
.section-28YDOf > div,
.nameTag-35jqbZ,
.customStatus-19KW6v,
.tabBar-2hXqzU,
.headerContainer-1wJjOa {
    justify-content: center;
}

.guildNick-fe8oPN {
    justify-content: right;
}

/* Vencord toolbox Logo */
.vc-toolbox-btn svg path {
  display: none;
}

.vc-toolbox-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.discordapp.com/attachments/1025149631253991475/1117030250786848878/T00gKRsY.gif");
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  z-index: -1;
}

:is(.vc-toolbox-btn:hover, .vc-toolbox-btn[class*="selected"]) svg path {
  display: none;
}

:is(.vc-toolbox-btn:hover, .vc-toolbox-btn[class*="selected"])::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.discordapp.com/attachments/1025149631253991475/1117030391694508093/dPXyPZUT.webp");
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  z-index: -1;
}

@supports selector(:has(*)) {
  [class^="listItem-"]:has([aria-label="Download Apps"]),
  [class^="listItem-"]:has([aria-label^="Explore"]) + [class^="listItem-"]:has([class^="guildSeparator-"]) {
      display: none;
  }
}